<script src="../form.js" charset="utf-8"></script>
</div>
<div class="footer">
          <span class="credits">
            &lt;/&gt; with <i class="fa fa-heart-o heart"></i> by Web
            Dev-IIITT
          </span>
        </div>
</body>
</html>
